[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
loguru = "*"
tenacity = "*"
pymupdf = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.14"
